.MuiAlert-root { 
  margin-bottom: 15px; /* Add spacing between alerts */
}

.MuiAlert-outlined { 
  border-width: 1px;   /* Thinner border */
  border-color: rgba(0, 0, 0, 0.12); /* Light gray border */
}

.MuiAlert-message { 
  font-family: 'Roboto', 'Arial', sans-serif; /* Example font */
}

.MuiAlert-success.verizon-theme {
  color: #141414; /* Dark Text */
  background-color: #e4f0e2; /* Light Green */
  border-color: #006504; /* Dark Green */
}

/* Info Alert */
.MuiAlert-info.verizon-theme {
  color: #141414; /* Dark Text */
  background-color: #6F7171; /* Light Blue */
  border-color: #6F7171; /* Dark Blue */
}

/* Warning Alert */
.MuiAlert-warning.verizon-theme {
  color: #141414; /* Dark Text */
  background-color: #6F7171; /* Light Yellow */
  border-color: #6F7171; /* Dark Orange */
}

/* Error Alert */
.MuiAlert-error.verizon-theme {
  color: #ffffff; /* White Text */
  background-color: #db0011; /* Verizon Red */
  border-color: #a5000f; /* Slightly Darker Red */
}